@model IEnumerable<Assignment_V2.Models.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers.UserName)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.AspNetUsers.Email)*@
                @Html.DisplayName("Doctor ID")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.AspNetUsers1.Email)*@
                @Html.DisplayName("Patient ID")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.UserName)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers1.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookingId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BookingId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookingId })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {

    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>
 $(document).ready(function () {
 $('.table').DataTable();
 });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />
